<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息管理</title>
    <style>
        body{
            margin: 0;
        }
        .wrapper{
            width: 800px;
            margin: 0 auto;
        }
        table{
            border-collapse: collapse;
            text-align: center;
        }
        td{
            width: 150px;

        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <h2>学生信息管理</h2>
        <button type="button"onclick="location.href='login.html'">添加</button>
    </div>

    <div class="main">

        <table border="1">
    <tr>
        <td>姓名</td>
        <td>学号</td>
        <td>性别</td>
        <td>邮箱</td>
        <td>个人介绍</td>
    </tr>


        </table>
    </div>

</div>
</body>
</html>